{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
  <h1>Testes requisição</h1>
  <hr><br>
  <div>
    <h3>Tasks</h3>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" onclick="handleClick(1)">Pequeno</button>
      <button type="button" class="btn btn-primary" onclick="handleClick(2)">Medio</button>
      <button type="button" class="btn btn-primary" onclick="handleClick(3)">Longa</button>
    </div>
  </div>
  <br><br>
  <div>
    <h3>Task Status</h3>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody id="tasks">
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
